@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Poppins:wght@400;500;600&display=swap');

:root {
    --azul: #3772FF;
    --branco: #FFFFFF;
    --cinza:#737380;
    --cinza-bg: #F6F6F6;
    --preto: #000000;
    --coral: #EEAF95;
    --amarelo: #D6B059;
    --vermelho: #710000;
    --font-principal: "Poppins", sans-serif;
    --font-secundaria: "IBM Plex Sans", sans-serif;    
}

* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
    list-style: none;
}

body {
    margin-top: 3rem;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)100%), url(../img/parrilla.jpg);
    background-position: center;
}

.main {
    font-family: var(--font-principal);
    max-width: 400px;
    background-color: var(--preto);
    background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 0.5)50%); 
    padding: 4rem;
    border-radius: .8rem;
    border-style: solid;
    border-color: var(--preto);
}


h1 {
    margin: 0 auto 1rem auto;
    color: var(--amarelo);
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

input {
    width: 100%;
    display: block;
    padding: .4rem;
    margin-bottom: 1rem;
    border: 1.5px solid var(--cinza-bg);
    border-radius: 2px;
}

.form__enviar {
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    padding: .5rem;
    border: 1.5px solid var(--preto);
    border-radius: 6px;
    background-color: var(--vermelho);
    font-size: .8rem;
    color: var(--amarelo);
}

.form__enviar:hover {
    background-color:var(--preto);
    border: 1.5px solid var(--branco);
    color: var(--branco);
    letter-spacing: 1.2px;
}

footer p {
    padding-top: 3rem; 
    text-align: center;
    font-size: .8rem;
    color: var(--cinza-bg);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


#form__resultado{
    color: var(--cinza-bg);
}

footer a {
    color: var(--coral);
}



